.main {
    margin-top: 10px;
    padding: 0.4em 1em;
    border-radius: 2px;
    background-color: transparent;
    border: none;
    font-size: 1em;
    transition: all 0.3s linear;
    cursor: pointer;
}

.main:hover {
    background-color: #e4e4e4;
}

.main:active {
    background-color: #a8a8a8;
    transition: none;
}