.primary {
  background-color: white;
  border: 1px solid #dee2e6;
  color: #007bff;
}

.primary:hover {
  background-color: #e9ecef;
  color: #035fc2;
}

.primary:disabled {
  color: #a3a5a8;
  cursor: default;
}

.primary:disabled:hover {
  background-color: white;
}

.active {
  background-color: #007bff;
  color: white;
}

.active:disabled {
  background-color: #007bff;
  color: white;
  cursor: default;
}

.danger {
  border: 1px solid #e73a3a;
  color: #e73a3a;
  background-color: white;
}

.danger:hover {
  background-color: #e73a3a;
  color: white;
}

.danger:focus,
.danger:active {
  background-color: #c03b3b;
  color: white;
}

.edit {
  border: 1px solid #eca306;
  color: #eca306;
  background-color: white;
}

.edit:hover {
  background-color: #eca306;
  color: black;
}

.edit:focus,
.edit:active {
  background-color: #dd9906;
  color: black;
}

.submit {
  border: 1px solid #3e9253;
  color: #3e9253;
  background-color: white;
}

.submit:hover {
  background-color: #3e9253;
  color: white;
}

.submit:focus,
.submit:active {
  background-color: #2f8544;
  color: white;
}

.submit:disabled,
.submit:disabled:hover {
  background-color: white;
  border-color: #a3a5a8;
  color: #a3a5a8;
  cursor: default;
}

.closeX {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.2em;
  height: 1.2em;
  padding: 0;
  background: 0;
  color: #ccc;
  overflow: hidden;
  border: none;
  font-size: 2.5em;
  font-family: serif;
  line-height: 1.2;
  cursor: pointer;
  transition: color 0.1s ease-out;
}

.closeX:hover {
  transform: none;
  background: none;
  color: #f27474;
}
