.main {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  min-width: 100px;
}

.buttons button:first-child {
  margin-right: 1.2rem;
}

.error {
  border: 1px solid #ff3636;
}
