.main {
}

.main tr:last-child {
  border-bottom: 2px solid #dedede;
}

.main th:last-child,
.main td:last-child {
  width: fit-content;
}

.emptyRow {
  height: 54px;
}

.sortBtn {
  cursor: pointer;
}

.sortBtn:hover {
  color: #414141;
}
