.main {
    display: block;
}

.stTable {
    border-collapse: collapse;
    width: 100%;
}

.stTable tr {
    border-bottom: 1px solid #b8b8b8;
}

.stTable th,
.stTable td {
    text-align: left;
    padding: 16px;
}
